# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# outputs / checkpoints
runs*/
*.pt
*.pth
*.safetensors

# datasets / zips
data*/
*.zip

# mac
.DS_Store

# logs (keep folder, ignore files)
logs/*.log
logs/*.txt
logs/*.csv
logs/*.json
!logs/.gitkeep
